#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(201, 189, 189);
}

.Instructions{
font-size:xx-large;
font-style: italic;
}
.Submit{
 margin-top: 10px;
}